<!-- <div>
 <button type="button"class="btn"(click)="navigateToFirst()">first</button>  

 <button (click)="customer()">customer</button>
 <button (click)="order()">order</button>
 <button routerLink="./Rperm">Perameter</button>
 <button routerLink="home">home</button>
 <button routerLink="./yourpath">canActivated</button>
 <button routerLink="./candeact">canDeAct</button>
 <button routerLink="./favorite">template</button>
 <button routerLink="./form">reactive</button>

 <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
 <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section> -->
 <!-- <button routerLink="/customers">customers</button>
 <button routerLink="/orders">orders</button> -->
 <!-- <button type="button"class="btn"routerLink="first-component">first</button> 
 <button type="button"class="btn"routerLink="second-component">second</button> -->
<!-- </div> -->
<button routerLink="table">table</button>
<router-outlet></router-outlet>
